################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RenameMusic/bin/
/RenameMusic/obj/
/.vs
.vscode/launch.json
.vscode/tasks.json
