<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenameMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RenameMusic.Properties.Settings>
            <setting name="DefaultTemplate" serializeAs="String">
                <value>&lt;tn&gt;. &lt;t&gt; - &lt;a&gt;</value>
            </setting>
            <setting name="RepeatedFileKeepChoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="IncludeSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitleRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlbumRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlbumArtistRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArtistRequired" serializeAs="String">
                <value>False</value>
            </setting>
        </RenameMusic.Properties.Settings>
    </userSettings>
</configuration>